http_client:
  transport:
    dial_context:
      timeout: 5s
      keep_alive: 60s
    max_idle_conns_per_host: 3000
    expect_continue_timeout: 1s
    tls_handshake_timeout: 5s
    response_header_timeout: 15s

upstreams: 
  - listen_addr: "127.0.0.1:8888"
    size_limit:
      - object: ".*"
        bytes: 10000000
    url_map:
      - src_paths:
          - ".*"
        url_prefix:
          - "http://127.0.0.1:8428"
          - "http://127.0.0.1:8429"
        health_check: "/health"
        #error_code: 204

  #- listen_addr: "127.0.0.1:8888"
  #  #update_stat: 10s
  #  url_map:
  #    - src_paths:
  #        - "/api/v1/write"
  #        - "/influx/write"
  #        - "/influx/api/v2/write"
  #      url_prefix:
  #        - "http://127.0.0.1:8428"
  #        #- "http://127.0.0.1:8429"
  #      health_check: "/health"
  #- listen_addr: "127.0.0.1:7101"
  #  url_map:
  #    - src_paths:
  #        - "/insert/0/influx.*"
  #      url_prefix:
  #        - "http://127.0.0.1:8087"
  #
  #- listen_addr: "127.0.0.1:7100"
  #  cert_file: "config/mtproxy.crt"
  #  cert_key: "config/mtproxy.key"
  #  url_map:
  #    - src_paths:
  #        - "/select/0/prometheus.*"
  #      url_prefix:
  #        - "http://127.0.0.1:8087"
  #        - "http://127.0.0.1:8088"
  #      health_check: "/health"

  #- listen_addr: 127.0.0.1:7102
  #  url_map:
  #    - src_paths:
  #        - "/test"
  #      url_prefix:
  #        - "http://127.0.0.1:3000"
  #      users:
  #        - username: "admin"
  #          password: "d033e22ae348aeb5660fc2140aec35850c4da997"
  #      health_check: "/api/health"
